/* css */
body {
    
    background-image: url(diario.jpg);
    background-size: 100%;
    background-position: fixed;
    font-family:'Dancing Script', cursive;
    display: block;
    background-repeat: no-repeat;
    margin: 0%;
    color: purple;
    text-align:center;
    
}

    

h1, {
        
    font-size: 35px;
    } 

p {
    
        font-size: 20px;
            
    } 

 #cifra, #decifra,  {
    background-color: transparent;
    font-size: 18px;
    color: purple;
    font-family:'Dancing Script', cursive;
    margin: 0% 46%;
    text-align: center;
    border-style: inset;
    border-color: violet;   
}

  #desloc {
    background-color: transparent;
    border-style: inset;
    border-color: violet; 
    margin: 0% 46%;  
  }  

label {
    color: purple;
    font-family:'Dancing Script', cursive;
    display: block;
    margin: 0% 46%;
    font-size: 18px;
}
    

#resp {
    color: purple;
    font-family:'Dancing Script', cursive;
    display: block;
    margin: 0% 46% 0% 46%;
    font-size: 18px;
}

footer {
    position: fixed;
}
    

