/* css */
body {
    
    background-image: url(diario.jpg);
    background-size: 103%;
    background-position: fixed;
    font-family:'Dancing Script', cursive;
    display: block;
    background-repeat: no-repeat;
    margin: 1%;
    color: purple;
    text-align:center;
    font-size: 20px
    
    
}

h1 {
        
    font-size: 35px;
    } 
 
   
.offset {

    margin: 2% 42%;
    background-color: transparent;

}

    
#cifrar, #decifrar, #resposta {
    resize: none;
    font-family:'Dancing Script', cursive;
    color: purple;
    margin: 0% 41%;
    background-color: transparent;
    text-align: center;
    
    
}

footer {
    text-align:left;
    color:green;
}



    

